<!doctype html>
<html>
    <head>
        <title>{{title}}</title>
        <style type="text/css">
            .error {
                color: red;
            }
        </style>
        {% if 'username' in session %}
        <a href='/logout'>Log Out</a>
        {% else %}
        <a href='/login'>Log In</a>
        {% endif %} 
        <a href='/'>Home</a>
        <a href='/blog'>All Blogs</a>
        <a href='/new-blog'>New Blog</a>
    </head>
<body>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
            {% for message in messages %}
            <p class="error" class=flashes>{{ message }}</p>
            {% endfor %}
    {% endif %}
    {% endwith %}
    {% block content %}
    {% endblock %}

</body>
</html>